@import 'tailwindcss';

@theme {
	--font-zalando-sans-expanded: 'Zalando Sans Expanded', sans-serif;
	--font-roboto-condensed: 'Roboto Condensed', sans-serif;
}

@layer base {
	body {
		background-color: var(--color-slate-800);
	}

	::selection {
		background-color: var(--color-blue-400);
	}

	a {
		padding: 0.125em 0.25em;
		margin: -0.125em -0.25em;
		border-radius: var(--radius-sm);
	}

	a:hover {
		background-color: var(--color-blue-400);
		color: var(--color-white);
	}

	h1 {
		font-family: var(--font-zalando-sans-expanded);
	}

	h2 {
		font-family: var(--font-roboto-condensed);
	}
}
